<div class="container-fluid">
    <div class="logo-container">
        <img class='logo' src="../../../assets/LogoGrande.svg">
        <div class="logo-text">
            <h1>Faça parte desse time!</h1>
            <p>Crie seu perfil de Cliente :)</p>
        </div>
    </div>
    <form class="form-grid" (ngSubmit)="salvar()" [formGroup]="form">
        <p class="grid-p">perfil</p>

        <input type="email" placeholder="Endereço de Email" formControlName="emailFormControl">
        <input type="password" placeholder="Senha" formControlName="senhaFormControl">
        <input type="text" placeholder="Nome Completo" formControlName="nomeFormControl">
        <input type="text" placeholder="CPF" formControlName="cpfFormControl">

        <p class="grid-p">Entrega</p>

        <input type="text" placeholder="Endereço" formControlName="endereçoFormControl">
        <input type="text" placeholder="Número" formControlName="numeroFormControl">
        <input type="text" placeholder="Complemento" formControlName="complementoFormControl">
        <input type="text" placeholder="Bairro" formControlName="bairroFormControl">
        <input type="text" placeholder="CEP" formControlName="cepFormControl">
        <input type="text" placeholder="Cidade" formControlName="cidadeFormControl">

        <div class="form-submit">
            <div class="input-check">
                <div><input type="checkbox" id="checkinput"> <span class="color-disable"><label for="checkinput">Concordo com os termos</label></span></div>
            </div>
            <input type="submit" value="CADASTRAR">
            <p><span class="color-disable">Já é um usuário?</span><a routerLink="/login"> Faça seu login</a></p>
        </div>

    </form>
</div>
