<div class="container">
  <div class="logo">
    <img src="" alt="">
  </div>
  <nav class="categorias">
    <ul>
      <li>
        <a href="#">
          Homem
        </a>
      </li>
      <li>
        <a href="#">
          Mulher
        </a>
      </li>
      <li>
        <a href="#">
          Criança
        </a>
      </li>
    </ul>
  </nav>
  <div class="ferramentas">
    <ul>
      <li>
        <a href="#">
          <img src="https://place-hold.it/30">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="https://place-hold.it/30">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="https://place-hold.it/30">
        </a>
      </li>
    </ul>
  </div>
</div>
