
<div class="content-fluid">
    <form action="">
        <div>
            <img class='logo' src="../../../assets/LogoGrande.svg">
        </div>
        <div class="formHeader">
            <h1>Bem vindo!</h1>
            <p>esconlha seu perfil...</p>
        </div>

        <div class="optionsRow">
            <div>
                <img class="icon" src="../../../assets/UserAdm.svg" alt="">
                <div><input type="radio" name="tipoConta" id="tipoConta"> <span class="color-disable"><label for="tipoConta">Admin</label></span></div>
            </div>
            <div class="vr"></div>
            <div>
                <img class="icon" src="../../../assets/userCli.svg" alt="">
                <div><input type="radio" name="tipoConta" id="tipoConta"> <span class="color-disable"><label for="tipoConta">Cliente</label></span></div>
            </div>
        </div>

        <input type="submit" value="ENTRAR">
        <p><span class="color-disable">Já é um usuário?</span> <a routerLink="/login"> Faça seu login</a></p>
    </form>
</div>