<div class="container-fluid">
    <div class="logo-container">
        <img class='logo' src="../../../assets/LogoGrande.svg">
        <h1>Relatório de Vendas</h1>
    </div>
    <div class="grid-geral grid-center">
        <div class="grid-table">
            <h4>Data</h4>
            <h4>Cliente</h4>
            <h4>Quantidade</h4>
            <h4>Produto</h4>
            <h4>Valor</h4>
        </div>
        <div class="grid-table">
            <p>26/11/2021 12:28</p>
            <p>Danielle Carqueijo</p>
            <p>01</p>
            <p>Tênis Nike</p>
            <p>R$200.00</p>
        </div>
    </div>
</div>
