<div class="content-fluid">
    <form action="">
        <div>
            <img class='logo' src="../../../assets/LogoGrande.svg">
        </div>
        <div class="formHeader">
            <h1>Bem vindo!</h1>
            <img src="../../../assets/userIcon.svg" alt="">
        </div>

        <input type="email" placeholder="Email">
        <input type="password" placeholder="Senha">

        <div class="input-check">
            <div><input type="checkbox" id="checkinput"> <span class="color-disable"><label for="checkinput">Mantenha-me conectado</label></span></div>
        </div>

        <a routerLink="/esqueceusenha"><p class="color-disable">Esqueceu sua senha?</p></a>

        <input type="submit" value="ENTRAR">
        <p><span class="color-disable">Não se registrou ainda?</span><a routerLink="/cadastro"> Junte-se à nós.</a></p>
    </form>
</div>