<div class="content-fluid">
    <form action="">
        <div>
            <img src="../../../assets/LogoGrande.svg">
        </div>
        <div class="formHeader">
            <h1>Esqueceu sua senha?</h1>
            <p>Fique tranquilo, a gente te ajuda nessa :)</p>
        </div>

        <input type="text" placeholder="Endereço de Email">
        <input type="text" placeholder="Código de Verificação">

        <input type="submit" value="VALIDAR">
        <p><span class="color-disable">Já é um usuário? </span> <a routerLink="/login">Faça seu login</a></p>
    </form>
</div>